PORT=3333
OPENAI_API_KEY=

# String de conexão do PostgreSQL.
# Se estiver usando o docker-compose.yml da raiz do projeto, o valor
# abaixo já funciona sem alterações.
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/dietas?schema=public"
